p,
h1,
h2 {
    margin: 0 auto;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
}

.block2_container {
    background-color: var(--color-green);
    width: 100%;
    height: 1059px;
    color: var(--line-color);

}

.block-block2 {
    padding: 120px 250px 129px 180px;
}

.block2-info {
    margin-bottom: 18px;
}

.block2-h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 13px;
    margin-left: 85px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.34px;
}

.block2-p {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.33px;
    text-align: center;
    width: 573px;
    margin-left: 200px;
}

.block2-cards_container {
    display: flex;
    margin-bottom: 57px;
}

.card-content {
    height: 539px;
    width: 445px;
    background-color: var(--background);
}

.card-content:first-child {
    margin-right: 30px;
}


.card-circle {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--block-color);
    margin-bottom: 25px;

}

.card-page {
    margin: 56px 56px 32px 56px;
}

.png-icon_block2 {
    margin: 23.7px;
}

.block2-h2 {
    font-style: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.80px;
    margin-bottom: 8px;
}

.block2-card-p {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.33px;
    margin-bottom: 100px;
}

.card-badge {
    background-color: var(--background);
    outline: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--little-line-color);
    margin-left: 310px;
    color: var(--little-line-color);
}

.card-badge:hover {
    background-color: var(--little-line-color);
    color: var(--background);
}

.svg-icon {
    margin: 12.8px 18.4px;
}

.block2-btn {
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    height: 64px;
    width: 184px;
    text-align: center;
    letter-spacing: -0.68px;
    color: var(--line-color);
    border: 2px solid var(--line-color);

}

.btn-button {
    text-align: center;
}

.block2-btn:hover {
    background-color: var(--line-color);
    color: var(--background);
}



@media only screen and (max-width: 1125px) {
    .block-block2 {
        padding: 120px 284px 129px 100px;
    }

    .block2-h1 {
        margin-right: -150px;
    }

    .block2_container {
        width: 110%;
    }
}

@media only screen and (max-width: 1060px) {
    .block-block2 {
        padding: 120px 284px 129px 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .block-block2 {
        padding-left: 0;
    }

    .card-content {
        width: 400px;
    }

    .card-badge {
        margin-left: 250px;
    }

    .block2-h1 {
        margin-right: 0;
        margin-left: 15px;
    }

    .block2-p {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 990px) {
    .card-content {
        width: 400px;
    }

    .block2-p {
        margin-left: 130px;
    }

    .card-badge {
        margin-left: 270px;
    }

    .btn-button {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 902px) {
    .card-content {
        width: 350px;
    }

    .block2-p {
        margin-left: 80px;
    }

    .card-badge {
        margin-left: 210px;
    }

    .block2-card-p {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 802px) {
    .card-content {
        width: 300px;
    }

    .block2-p {
        margin-left: 20px;
    }

    .card-badge {
        margin-left: 170px;
    }

    .block2-card-p {
        margin-bottom: 20px;
        line-height: 25px;
    }
    .block2_container {
        width: 110%;
        height: 1700px;
    }
}

@media only screen and (max-width: 700px) {
    .block-block2 {
        padding-left: 2px;
    }

    .card-content:first-child {
        margin-right: 10px;
    }

    .btn-button {
        margin-left: 200px;
    }

}

@media only screen and (max-width: 630px) {

    .block2-cards_container {
        display: flex;
        flex-direction: column;
    }

    .card-content {
        width: 450px;
    }

    .block-block2 {
        padding-left: 0px;
    }

    .block2-p {
        width: 420px;
        margin-left: 1rem;
    }

    .block2-h1 {
        margin-left: 65px;
    }

    .btn-button {
        margin-left: 150px;
    }

    .block2-card-p {
        margin-bottom: 105px;
    }

    .card-content:first-child {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .card-badge {
        margin-left: 300px;
    }


}

@media only screen and (max-width: 441px) {

    .block2-card-p {
        width: 300px;
        margin-left: 0;
    }

    .card-badge {
        margin-left: 230px;
    }

    .block2-h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .block2-p {
        width: 300px;
        margin-left: 50px;
    }

    .btn-button {
        margin-left: 100px;
    }
}


@media only screen and (max-width: 441px) {
    .block2-h1 {
        margin-left: 45px;
    }

    .block2-p {
        margin-left: 40px;
    }
}